<!DOCTYPE html>
<head>

</head>
<body>
    <form action="/reviewCreate" method="POST">
        Rate on Basis of Cooperation: <input type="radio" id="" name="cooperation" value="1">
        <label for="cooperation">1</label>
        <input type="radio" id="" name="cooperation" value="2">
        <label for="cooperation">2</label>
        <input type="radio" id="" name="cooperation" value="3">
        <label for="cooperation">3</label>
        <input type="radio" id="" name="cooperation" value="4">
        <label for="cooperation">4</label>
        <input type="radio" id="" name="cooperation" value="5">
        <label for="cooperation">5</label> <br>
        Rate on Basis of Punctual: <input type="radio" id="" name="punctual" value="1">
        <label for="punctual">1</label>
        <input type="radio" id="" name="punctual" value="2">
        <label for="punctual">2</label>
        <input type="radio" id="" name="punctual" value="3">
        <label for="punctual">3</label>
        <input type="radio" id="" name="punctual" value="4">
        <label for="punctual">4</label>
        <input type="radio" id="" name="punctual" value="5">
        <label for="punctual">5</label> <br>
        Rate on Basis of work: <input type="radio" id="" name="work" value="1">
        <label for="work">1</label>
        <input type="radio" id="" name="work" value="2">
        <label for="work">2</label>
        <input type="radio" id="" name="work" value="3">
        <label for="work">3</label>
        <input type="radio" id="" name="work" value="4">
        <label for="work">4</label>
        <input type="radio" id="" name="work" value="5">
        <label for="work">5</label> <br>
        Rate on Basis of creativity: <input type="radio" id="" name="creativity" value="1">
        <label for="creativity">1</label>
        <input type="radio" id="" name="creativity" value="2">
        <label for="creativity">2</label>
        <input type="radio" id="" name="creativity" value="3">
        <label for="creativity">3</label>
        <input type="radio" id="" name="creativity" value="4">
        <label for="creativity">4</label>
        <input type="radio" id="" name="creativity" value="5">
        <label for="creativity">5</label> <br>
        Rate on Basis of adaptability: <input type="radio" id="" name="adaptability" value="1">
        <label for="adaptability">1</label>
        <input type="radio" id="" name="adaptability" value="2">
        <label for="adaptability">2</label>
        <input type="radio" id="" name="adaptability" value="3">
        <label for="adaptability">3</label>
        <input type="radio" id="" name="adaptability" value="4">
        <label for="adaptability">4</label>
        <input type="radio" id="" name="adaptability" value="5">
        <label for="adaptability">5</label> <br>
        Description about Employee: <textarea cols="25" rows="3"></textarea> <br>
        <input type="submit" value="submit">

    </form>
</body>
</html>