<form action="user-signUp/create" method="POST">
    Enter Email: <input type="text" name="email">
    Enter password: <input type="text" name="password">
    Enter passsword again <input type="text" name="confirm_password">
    Enter name: <input type="text" name="name">
    Enter age: <input type="text" name="age">
    Enter Gender: <input type="text" name="sex">
    <input type="submit" name="submit" value="submit">

</form>