body {
    background-image: linear-gradient(to top right, lightblue, white); }
    body #signout_container {
      margin: 5rem;
      box-shadow: -4px 0px 6px 4px whitesmoke;
      min-height: 80%;
      background-image: linear-gradient(to top right, lightblue, white); }
      body #signout_container #heading {
        padding-top: 2%;
        margin-left: 5%;
        text-shadow: 6px 6px 5px palegoldenrod;
        font-weight: bold;
        color: darkred;
        display: block; }
      body #signout_container #title_heading {
        color: brown;
        padding-top: 3%;
        margin-left: 5%;
        font-weight: 800;
        font-size: large; }
      body #signout_container #google_signin_container {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
        margin-left: 5%;
        padding-bottom: 0.8rem;
        box-shadow: 2px 0px 6px 4px darkgrey;
        width: 10.5rem;
        height: 1.5rem;
        font-size: 0.8rem; }
        body #signout_container #google_signin_container #no-textdecoration {
          text-decoration: none; }
        body #signout_container #google_signin_container #no-textdecoration:visited {
          color: blue; }
        body #signout_container #google_signin_container .iconify {
          padding-top: 0.5rem;
          padding-left: 0.3rem;
          margin-right: 0.8rem;
          font-size: large;
          color: brown; }
      body #signout_container input {
        height: 1.7rem; }
      body #signout_container #signupForm_name {
        margin-right: 0.8rem;
        margin-left: 5%; }
      body #signout_container #signupForm_password {
        margin-top: 1.2rem;
        margin-left: 5%;
        width: 22.4rem; }
      body #signout_container #signupForm_confirm_password {
        margin-top: 1.2rem;
        margin-left: 5%;
        width: 22.4rem; }
      body #signout_container #signupForm_submit {
        margin-top: 1.2rem;
        margin-left: 5%; }
      body #signout_container #signupForm_terms {
        margin-top: 2.4rem;
        margin-left: 5%;
        color: lightgrey; }
      body #signout_container #signupForm_signIn {
        margin-top: 2.8rem;
        margin-left: 5%; }
        body #signout_container #signupForm_signIn a:visited {
          text-decoration: none;
          color: blue; }
      body #signout_container .thoughtOfTheDay {
        position: absolute;
        margin-top: 40%;
        margin-left: 60%;
        border: 1px solid black;
        min-height: 10%;
        min-width: 10%; }
    body #signupForm_sex{
        margin-top: 1.2rem;
        margin-left: 5%;
        width: 22.4rem;
    }
    body #signupForm_age{
        margin-top: 1.2rem;
        margin-left: 5%;
        width: 22.4rem;
    }
      